@charset "UTF-8";
/* css 初始化 */
html, body, ul, li, ol, dl, dt, dd, p, form, h1, h2, h3, h4, h5, h6, legend {
	margin: 0;
	padding: 0;
}

fieldset, input, img, button {
	margin: 0;
	padding: 0;
	outline-style: none;
	border: none;
}

ul, ol {
	list-style: none;
}

input {
	padding-top: 0;
	padding-bottom: 0;
	font-family: "SimSun", "宋体";
}

select, input {
	vertical-align: middle;
}

select, input, textarea {
	font-size: 12px;
	margin: 0;
}

/* 禁止手动修改大小 */
textarea {
	resize: none;
}

/* 去掉图片底部默认空白缝隙 */
img {
	bottom: 0;
	vertical-align: middle;
}

/* 合并外连线 */
table {
	border-collapse: collapse;
}

body {
	font: 12px/150% Arial, Verdana, "\5b8b\4f53";
	/* unitedCode的写法，宋体的写法 */
	color: #666;
	background-color: #fff;
}

/* 清除浮动 */
.clearfix:before, .clearfix:after {
	content: "";
	display: table;
}
.clearfix:after {
	clear: both;
}
.clearfix {
	*zoom: 1;
}

a {
	color: #666;
	text-decoration: none;
}

a:hover {
	color: #C81623;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: normal;
	text-decoration: none;
}

s, i, em {
	font-style: normal;
	text-decoration: none;
}

/* 京东主色调 */
.col-red {
	color: #c81623 !important;
}

/*公共类*/
.w {    
    width: 1210px; /*版心 */
    margin: 0 auto;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.al {
    text-align: left;
}

.ac {
    text-align: center;
}

.ar {
    text-align: right;
}
.pr {
    position: relative;
}
.pa {
    position: absolute;
}

.hide {
    display: none;
}
.font12 {
	font-size: 12px;
}
/*css初始化完成*/



.shortcut {
	height: 30px;
	line-height: 30px;
	background-color: #F1F1F1;
}
.shortcut_left {
	padding-left: 10px;
}
.shortcut_left .dt, .shortcut_right .fore {
	padding: 0 20px 0 10px;
	position: relative;
}
.dt i, .fore i {
	font: 400 15px/15px "宋体";
	position: absolute;
	width: 15px;
	height: 7px;
	right: 3px;
	top: 14px;
}
.dt i s, .fore i s {
	width: 15px;
	height: 7px;
	line-height: 3px;	
	overflow: hidden;
	position: absolute;
	top: -8px;
	left: 0;
}

.shortcut_right li {
	float: left;
	padding: 0 10px;
}
.shortcut_right li.line {
	width: 1px;
	height: 12px;
	background-color: #ddd;
	margin-top: 9px;
	padding: 0;
}
.shortcut_right .tel_jd {
	padding: 0 20px 0 25px;
	position: relative;
}
.shortcut_right .tel_jd .tel {
	position: absolute;
	width: 15px;
	height: 20px;
	background: url(../images/sprite.png) no-repeat;
	left: 5px;
	top: 5px;
}



#topBanner {
	background-color: #ccc;
}
#topBanner .w {
	position: relative;
}
#topBanner .w img {
	display: block;
}
#topBanner .w #closeBanner {
	position: absolute;
	top: 5px;
	right: 0;
	width: 19px;
	height: 19px;
	background: url(../images/close.png);
}
#topBanner .w #closeBanner:hover {
	background-position: 0 -19px;
}



.logo {
	width: 362px;
	height: 75px;
	padding-top: 25px;
	background: url(../images/logo.png) 0 25px no-repeat;
	position: relative;
}
.logo h1 > a {
	display: block;
	width: 362px;
	height: 75px;
	text-indent: -999999px;
	overflow: hidden;
}
.logo .db11 {
	position: absolute;
	width: 180px;
	height: 80px;
	background-color: #f40;
	top: 10px;
	left: 168px;
}
.logo .db11 a {
	display: block;
	width: 180px;
	height: 80px;
}
.search {
	width: 538px;
	height: 36px;
	padding-top: 25px;
}
.search input {
	width: 450px;
	height: 32px;
	border: 2px solid #d61d1d;
	padding-left: 4px;
	color: #666;
	font-size: 14px;
	float: left;
}
.search button {
	float: left;
	width: 80px;
	height: 36px;
	background-color: #d61d1d;
	color: #fff;
	font: 16px "microsoft yahei";
	cursor: pointer;
}
.car {
	width: 96px;
	height: 34px;
	line-height: 34px;
	padding-left: 43px;
	margin: 25px 65px 0 0;
	border: 1px solid #dfdfdf;
	position: relative;
}
.car .icon1 {
	position: absolute;
	top: 10px;
	left: 20px;
	width: 16px;
	height: 13px;
	background: url(../images/sprite.png) no-repeat -1px -59px;
}
.car .icon2 {
	position: absolute;
	font: 400 13px/13px "simsun";
	top: 10px;
	right: 15px;
}
.car .icon3 {
	position: absolute;
	width: 16px;
	height: 14px;
	line-height: 14px;
	background-color: #d61d1d;
	font-size: 14px;
	color: #fff;
	text-align: center;
	border-radius: 7px 7px 7px 0;
	top: -4px;
}
.hotwords {
	width: 500px;
	padding: 7px 0;
}
.hotwords a {
	margin-right: 6px;
}



.jd_nav {
	width: 100%;
	height: 44px;
	border-bottom: 2px solid #b1191a;
}
.dropdown {
	width: 210px;
	height: 44px;
	float: left;
	background-color: #b1191a;
	position: relative;
	overflow: visible;
}
.dropdown .dt {
	height: 44px;
}
.dropdown .dt a {
	display: block;
	height: 44px;
	font: 400 15px/44px "microsoft yahei";
	color: #fff;
	padding-left: 10px;
}
.dropdown .dd {
	height: 465px;
	width: 210px;
	position: relative;
	background-color: #c81623;
	z-index: 10;
	margin-top: 2px;
}
.dropdown .dd .navList li {
	height: 31px;
	line-height: 31px;
	border-left: 1px solid #b61d1d;
	color: #fff;
	padding-left: 10px;
	font-size: 15px;
}
.dropdown .dd .navList li a {
	float: left;
	color: #fff;
}
.dropdown .dd .navList li span {
	float: right;
	margin-right: 5px;
	font: 400 15px/31px "宋体";
}
.navItems {
	width: 680px;
	height: 44px;
	float: left;
}
.navItems li {
	float: left;
}
.navItems li.new {
	background: url(../images/new.jpg) right top no-repeat;
}
.navItems li a {
	display: block;
	color: #333;
	font: 400 15px/44px	"microsoft yahei";
	padding: 0 20px;
}
.navItems li a:hover {
	color: #b1191a;
}
.bike {
	width: 140px;
	height: 44px;
	background: url(../images/bike.jpg) no-repeat;
}
.bike a {
	display: block;
	height: 44px;
}



.slogen {
	height: 54px;
	padding: 20px 0;
	background-color: #f5f5f5;
	position: relative;
	margin-bottom: 25px;
}
.slogen .item {
	position: absolute;
	width: 320px;
	left: 50%;
	top: 20px;
}
.slogen .item.slogen1 {
	margin-left: -608px;	
}
.slogen .item.slogen2 {
	margin-left: -304px;	
}
.slogen .item.slogen4 {
	margin-left: 304px;	
}
.service dl {
	width: 198px;
	float: left;
}
.service dt, .coverage .dt {
	font-size: 16px;
	font-family: "microsoft yahei";
	line-height: 28px;
	padding-top: 10px;
}
.service dd {
	line-height: 20px;
}
.coverage {
	float: right;
	width: 210px;
	height: 165px;
	background: url(../images/china.png) left bottom no-repeat;
}
.coverage .dt {
	margin-bottom: 9px;
}
.coverage p {
	line-height: 18px;
}
.coverage p:first-child {
	margin-top: 10px;
}
.coverage p.ar {
	margin-top: 5px;
}

.info {
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
	border-top: 1px solid #e5e5e5;
	padding-top: 23px;
}
.links {
	line-height: 25px;
}
.links a {
	padding: 0 6px;
}
.copyright {
	line-height: 18px;
	margin-bottom: 10px;
}
.messages a {
	margin-right: 6px;
}